<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}

    <div id="wrapper"></div>
    {% for task in todos %}
        <input type="hidden" id="myVar" name="variable" value="{{ task.id }}">
        <div style="display: flex; justify-content: space-between; margin: 8px; width: 25%">
            <p>{{ task.title }}</p>
            <p><a href="update/{{ task.id }}">Update</a></p>
        </div>

    {% endfor %}
    {% load static %}
    <script type="text/javascript" src={% static '/listCreateScripts/generate.js' %}></script>
{% endblock %}