<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles/list.css' %}">
    <form id="form" action='.' method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Create'/>
    </form>
    {% for task in tasks %}
        <div class="content">
            <p class="title">{{ task.title }}</p>
        </div>
    {% endfor %}
    <script type="text/javascript" src={% static '/utils/utils.js' %}></script>
    <script type="text/javascript" src={% static '/listCreateScripts/createTaskHandler.js' %}></script>
    <script type="text/javascript" src={% static '/listCreateScripts/constants.js' %}></script>
{% endblock %}